<h1>Admin Dashboard</h1>

<!-- Turbo Stream broadcasts updates whenever a ticket changes -->
<%= turbo_stream_from "dashboard" %>

<!-- wraps the chart --->
<%= turbo_frame_tag "category_chart" do %>
  <%= render "category_chart" %>
<% end %>

<br>
<div class="stats">
  <p><strong>Total Tickets:</strong> <%= @total_tickets %></p>
  <p><strong>Open Tickets:</strong> <%= @open_tickets %></p>
  <p><strong>Closed Tickets:</strong> <%= @closed_tickets %></p>
  <p><strong>Active Users:</strong> <%= @active_users %></p>
</div>

<!-- Recent (5) tickets table -->
<br><h2>Recent Tickets</h2>
<table class="contact-table">
  <thead>
    <tr>
      <th>Ticket # </th>
      <th>Summary</th>
      <th>Status</th>
      <th>User</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.limit(5).each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.created_at.strftime("%B %d, %Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!-- Tickets grouped by category -->
<h2>Tickets by Issue/Category</h2>
<% @tickets_by_category.each do |category, count| %>
  <h3><%= category %> (<%= count %>)</h3>

  <table class="contact-table">
    <thead>
      <tr>
        <th>Ticket #</th>
        <th>Summary</th>
        <th>Status</th>
        <th>User</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% Ticket.where(category: category).each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.user.email %></td>
          <td><%= ticket.created_at.strftime("%B %d, %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


