<!-- Admin dashboard page -->
<h1>Admin Dashboard</h1>

<!-- Turbo Stream broadcasts updates whenever a ticket changes -->
<%= turbo_stream_from "dashboard" %>

<!-- Call out 'category_chart' with turbo frame for dynamic updates -->
<%= turbo_frame_tag "category_chart" do %>
  <%= render "category_chart" %>
<% end %>

<br>
<!-- Call out method in admin dashboard_controller to count tickets and users -->
<div class="stats">
  <p><strong>Total Tickets:</strong> <%= @total_tickets %></p>
  <p><strong>Open Tickets:</strong> <%= @open_tickets %></p>
  <p><strong>Closed Tickets:</strong> <%= @closed_tickets %></p>
  <p><strong>Active Users:</strong> <%= @active_users %></p>
</div>

<!-- Loop to show 5 recent tickets by desc date and present in a table -->
<br><h2>Recent Tickets</h2>
<table class="contact-table">
  <thead>
    <tr>
      <th>Ticket # </th>
      <th>Summary</th>
      <th>Status</th>
      <th>User</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>    
    <% @tickets.limit(5).each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.created_at.strftime("%B %d, %Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<!-- Loop to show tickets grouped by category and present in a table -->
<h2>Tickets by Issue/Category</h2>
<% @tickets_by_category.each do |category, count| %>
  <h3><%= category %> (<%= count %>)</h3>

  <table class="contact-table">
    <thead>
      <tr>
        <th>Ticket #</th>
        <th>Summary</th>
        <th>Status</th>
        <th>User</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>      
      <% Ticket.where(category: category).each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.user.email %></td>
          <td><%= ticket.created_at.strftime("%B %d, %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


