<h1>Admin Dashboard</h1>

<div class="stats">
  <p><strong>Total Tickets:</strong> <%= @total_tickets %></p>
  <p><strong>Open Tickets:</strong> <%= @open_tickets %></p>
  <p><strong>Closed Tickets:</strong> <%= @closed_tickets %></p>
  <p><strong>Active Users:</strong> <%= @active_users %></p>
</div>


<br><h2>Recent Tickets</h2>
<table class="contact-table">
  <thead>
    <tr>
      <th>Ticket # </th>
      <th>Summary</th>
      <th>Status</th>
      <th>User</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.user.email %></td>
        <td><%= ticket.created_at.strftime("%B %d, %Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Tickets by Issue/Category</h2>