<!-- Form to create or edit a ticket -->
<!-- Display validation errors set in ticket.rb file, if any -->
<% if ticket.errors.any? %>
  <div class="error">
    <h4>There were problem(s):</h4>
    <ul>
      <% ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Ticket form -->
<%= form_with(model: ticket, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :title, "Title/Summary:" %>
    <%= f.text_field :title, class: "input" %>
  </div>

  <div class="form-group">
    <%= f.label :category, "Category:" %>
    <%= f.select :category, ["Hardware", "Software", "Network", "Other"], prompt: "Select category", class: "input" %>
  </div>

  <div class="form-group">
    <%= f.label :sub_category, "Sub-category:" %>
    <%= f.select :sub_category, ["Laptop", "Printer", "Email", "Wi-Fi"], prompt: "Select Sub-category", class: "input" %>
  </div>

  <div class="form-group">
    <label>Impact Other(s):</label><br>
    <%= f.radio_button :impact_others, true %> Yes
    <%= f.radio_button :impact_others, false %> No
  </div>

  <div class="form-group">
    <%= f.label :description, "Description:" %>
    <%= f.text_area :description, class: "input", rows: 5 %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", tickets_path, class: "btn btn-secondary" %>
  </div>
<% end %>
