<div id="<%= dom_id ticket %>">
  <div>
    <strong>Summary:</strong>
    <%= ticket.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= ticket.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= ticket.status %>
  </div>

  <%# This is a comment and will not be rendered %>
  <%#div
    <strong>User:</strong>
    <%= ticket.user_id %>
  </div%>

</div>
