<!-- Partial view for displaying a ticket -->
<div id="<%= dom_id ticket %>">
  <div>
    <strong>Summary:</strong>
    <%= ticket.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= ticket.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= ticket.status %>
  </div>

  <div>
    <strong>Created At:</strong>
    <%= ticket.created_at.strftime("%B %d, %Y %H:%M") %>
  </div>
  
</div>
