<div id="<%= dom_id ticket %>">
  <div>
    <strong>Title:</strong>
    <%= ticket.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= ticket.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= ticket.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </div>

</div>
